  <div class="row">

    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Sort By Date
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="/notes/asc">Asc</a></li>
        <li><a class="dropdown-item" href="/notes/desc">Dsc</a></li>
      </ul>
    </div>

    {{#each notes}}
    <div class="col-sm-6 col-md-3">
      <div class="card 10 mt-3">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb0" style="font-size: 18px;">
              {{title}}
            </h4>
            <div class="text-center d-flex p-1">
              <a class="text-decoration-none me-1" href="/notes/edit/{{_id}}">
                <i class="fas fa-edit"></i> 
              </a>
              <form id="delete" action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button class="text-decoration-none border-0 bg-transparent text-primary hover-red" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button">
                  <i class="fas fa-trash"></i>
                </button>
              </form>
            </div>
          </div>

        </div>
        <div class="card-body">
          <p>
            {{description}}
          </p>
        </div>
      </div>
    </div>
    {{else}}
    <div class="card mx-auto" style="width: 16rem;">

      <div class="card-body">
        <p class="text-center font-weight-bold fs-3 fw-normal">There are not notes yet.</p>
        <a href="/notes/add" class="btn btn-success w-100">Add one</a>
      </div>
    </div>
    {{/each}}
  </div>


{{!-- Model to confirm delete note --}}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning !!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        delete this note?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="delete">Delete</button>
      </div>
    </div>
  </div>
</div>
